

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" style = "background-color: #262626">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style = "color:white">Delfos</i></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            
            <li><a data-toggle="modal" data-target="#Login" href="#logingoogle" style = "color: white">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


	<!-- FEATURE SECTION -->
<div class="container wb" style=" width:100%;">
	<div class="container wb" style=" width:60%;">
    
    
    <!-- show stories section-->
    <h1 style = "text-align: left">Contributors</h1>
    <div class= "table-responsive" style = "text-align: center ;padding-bottom:30px;">
      
      <table class= "table table-hover" style="width: 100%; margin-right:auto; margin-left:auto; border-color: #262626; border-style:solid   ">
        <tr >
        
        <td style="pading: 25px" contenteditable="true">Daniel Porzio</td>
        </tr>
        <tr >
        
        <td style="pading: 25px" contenteditable="true">Invitado</td>
        </tr>
        <tr >
        
        <td style="pading: 25px" contenteditable="true">Invitado</td>
        </tr>
        <tr >
        
        <td style="pading: 25px"contenteditable="true">Nicolas Urruty</td>
        </tr>
      </table>
    </div>

    <!-- section to add stories-->
    <h3 style = "text-align: center" ><a style = "color:#262626">Invite Contributors
      
    </a></h3>
		<div class="form" style = "text-align: center ;padding-top:20px;padding-bottom:30px; width:100%; ">

				<button class="button" style=" text-align:center;padding: 12px 30px; background-color: #80ff80">Invite</button>
		</div>
		




    
    <!-- start botton-->
    <div class="container" style="text-align:center; width:100% ;padding-bottom:30px">
			<button class="button" style="position:relative;border-radius:30px; padding: 20px 60px; background-color: #80ff80">START</button>
		</div>
	</div>
</div><!-- container -->

