    <div ng-app ="mainScreenModule">
    <div ng-controller="mainScreenCtrl">

    
   
	<!-- FEATURE SECTION -->
<div class="container wb" style=" width:100%; margin-top : 70px">
	<div class="container wb" style=" width:60%;">
    


    
    <!-- section to add stories-->
    <h1 style = "text-align: left" ><input style = "color:#262626" ng-model="projectName">
      <div class="dropdown">
        <span class=" glyphicon glyphicon-cog"></span>
        <div class="dropdown-content">
            <div >
              <span class="serieslabel">Consensus strategy</span>
            </div>
            <div style="display:block;" class= "config_elements">
              <select style="width: 100%" ng-model="selectedStrategyId" ng-options="consensus for consensus in consensusList">
                </select>
            </div>
            <div >
              <span class="firstLabel">Series</span>
              <span class="secondLabel"> Number of values</span>
            </div>
            <div style="display:block;" class= "config_elements">
              <select style="width: 40%" ng-model="defaultSerie" ng-options="serie for serie in seriesList ">
                </select>
              <select style="width: 15%" class= "number_of_values" ng-model="selectedQuantityValues" ng-options="value for value in values ">
                </select>
            </div>
            <form action="" class= "config_elements">
              <input type="checkbox" name="sync_check_box" id="sync_check_box" value="sync" checked="true" disabled="true" >Sync<br>
            </form>
            <span class="timeboxLabel">Timebox</span>
            <div style="display:block;" class= "config_elements">
              
              <input style="width: 17%" type="number" ng-model="hour" placeholder="hh" min="0" max="10">

              <input style="width: 17%" type="number" ng-model="min" placeholder="mm" min="0" max="59">
              <t style= "color:#808080">Hour/Min</t>
            </div>

        </div>
      </div>

    </h1>

		<div class="form">

        <input class="w3-input w3-border w3-round" type="text"  placeholder="Write your story here..." name ="newStory" ng-model ="newStory">
        <input type = "button" value ="Add" class="button add-button" style=" font-weight: bold;text-align:right;padding: 12px 15px; background-color: grey" ng-disabled = "newStory == null"
        ng-click="addStory(newStory)">
				<button class="btn btn-warning btn-lg" >
          Import Stories
        </button>
		</div>
		



    <!--SHOW STORIES SECTION-->
    <h1 style = "text-align: left">Stories</h1>
    <div class= "table-responsive" style = "text-align: center ;padding-bottom:30px;">
      


      <table class= "table table-hover" style="width: 100%; margin-right:auto; margin-left:auto; border-color: #262626; border-style:solid   ">
        <tr ng-repeat="story in stories track by $index">

          <td style="pading: 25px" contenteditable="false" >{{ story }}</td><td>
          <span class=" glyphicon glyphicon-remove" ng-click="deleteStory(story)" style="float:right; cursor:pointer;"></span> </td> 
        </tr>
       

      </table>
    </div>
    
    <!-- start botton-->
    <div class="container" style="text-align:center; width:100% ;padding-bottom:30px">
        <%= link_to controller: 'projects', action: 'share' do %>
        <button type="button" class="btn btn-success btn-lg" ng-click="sendData()">NEXT</button>
        <% end %>
		</div>
	</div>
</div><!-- container -->


