
    <div ng-app ="mainScreenModulo">
    <div ng-controller="mainScreenControlador">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" style = "background-color: #262626">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style = "color:white">Delfos</i></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            
            <li><a data-toggle="modal" data-target="#Login" href="#logingoogle" style = "color: white">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


	<!-- FEATURE SECTION -->
<div class="container wb" style=" width:100%;">
	<div class="container wb" style=" width:60%;">
    
    
    <!-- section to add stories-->
    <h1 style = "text-align: left" ><a style = "color:#262626" contenteditable="true">PROJECT NAME </a>
      
      <div class="dropdown">
        <span class=" glyphicon glyphicon-cog"></span>
        <div class="dropdown-content">
            <div >
              <span class="serieslabel">Consensus strategy</span>
            </div>
            <div style="display:block;" class= "config_elements">
              <select style="width: 100%">
                <option value="strategy">Average</option>
              </select>
            </div>
            <div >
              <span class="firstLabel">Series</span>
              <span class="secondLabel"> Number of values</span>
            </div>
            <div style="display:block;" class= "config_elements">
              <select style="width: 40%">
                <option value="Series">Fibonacci</option>
                <option value="Series">Numerical Series</option>
              </select>
              <select style="width: 15%" class= "number_of_values">
                <option value="number_of_values">1</option>
                <option value="number_of_values">2</option>
                <option value="number_of_values">3</option>
                <option value="number_of_values">4</option>
                <option value="number_of_values">5</option>
                <option value="number_of_values">6</option>
                <option value="number_of_values">7</option>
              </select>
            </div>
            <form action="" class= "config_elements">
              <input type="checkbox" name="sync_check_box" id="sync_check_box" value="sync" checked="true" disabled="true" >Sync<br>
            </form>
            <span class="timeboxLabel">Timebox</span>
            <div style="display:block;" class= "config_elements">
              <input type="time" name="moduleStart" class="dateFormat"/>
            </div>

        </div>
      </div>

    </h1>
		<div class="form">

				<input class="w3-input w3-border w3-round" type="text"  placeholder="Write your story here..." name ="nuevaHistoria" ng-model ="nuevaHistoria">
				<input type = "button" value ="Add" class="button add-button" style=" font-weight: bold;text-align:right;padding: 12px 15px; background-color: grey"
        ng-click="agregarHistoria(nuevaHistoria)">
        
				<button class="button" style=" text-align:right;padding: 12px 30px;font-weight: bold; background-color: #80ff80">
          Import Story
        </button>
		</div>
		



    <!--SHOW STORIES SECTION-->
    <h1 style = "text-align: left">Stories</h1>
		<div class= "table-responsive" style = "text-align: center ;padding-bottom:30px;">
			

			<table class= "table table-hover" style="width: 100%; margin-right:auto; margin-left:auto; border-color: #262626; border-style:solid   ">
			  <tr ng-repeat="historia in historias track by $index">

          <td style="pading: 25px" contenteditable="true" name="HistoriaBorrar" ng-model = "HistoriaBorrar">{{ historia }}</td><td>
          <span class=" glyphicon glyphicon-remove" ng-click="eliminarHistoria(HistoriaBorrar)" style="float:right"></span> </td> 
        </tr>
			</table>
		</div>
    
    <!-- start botton-->
    <div class="container" style="text-align:center; width:100% ;padding-bottom:30px">
			<button class="button" style="position:relative;border-radius:30px; padding: 20px 60px;font-weight: bold; background-color: #80ff80">START</button>
		</div>
	</div>
</div><!-- container -->

</div>
</div>