<!DOCTYPE html>
<html ng-app="Delfos">
<head>
  <base href="/" />
  <title>AngularRailsExample</title>
  <%= stylesheet_link_tag    'Delfos', media: 'all' %>
  <%= javascript_include_tag 'Delfos' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" ng-view></div>
  <%= yield %>
</body>
</html>
